<div class="bg-green-500 p-2 container">
  <!-- <div class="row">
    <div class="bg-black-900 h-25 col-4 font-Poppins">
      Black 900
    </div>
    <div class="bg-black-750 h-25 col"></div>
    <div class="bg-black-500 h-25 col"></div>
    <div class="bg-black-250 h-25 col"></div>
    <div class="bg-black-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-red-900 h-25 col-4 font-Poppins">
      Red 900
    </div>
    <div class="bg-red-750 h-25 col"></div>
    <div class="bg-red-500 h-25 col"></div>
    <div class="bg-red-250 h-25 col"></div>
    <div class="bg-red-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-yellow-900 h-25 col-4"></div>
    <div class="bg-yellow-750 h-25 col"></div>
    <div class="bg-yellow-500 h-25 col"></div>
    <div class="bg-yellow-250 h-25 col"></div>
    <div class="bg-yellow-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-green-900 h-25 col-4"></div>
    <div class="bg-green-750 h-25 col"></div>
    <div class="bg-green-500 h-25 col"></div>
    <div class="bg-green-250 h-25 col"></div>
    <div class="bg-green-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-orange-900 h-25 col-4"></div>
    <div class="bg-orange-750 h-25 col"></div>
    <div class="bg-orange-500 h-25 col"></div>
    <div class="bg-orange-250 h-25 col"></div>
    <div class="bg-orange-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-gray-900 h-25 col-4"></div>
    <div class="bg-gray-750 h-25 col"></div>
    <div class="bg-gray-500 h-25 col"></div>
    <div class="bg-gray-250 h-25 col"></div>
    <div class="bg-gray-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-offwhite-900 h-25 col-4"></div>
    <div class="bg-offwhite-750 h-25 col"></div>
    <div class="bg-offwhite-500 h-25 col"></div>
    <div class="bg-offwhite-250 h-25 col"></div>
    <div class="bg-offwhite-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-white-900 h-25 col-4"></div>
  </div>
</div> -->
  <div class="bg-black-750 container p-2">
    <h1 class="text-white-900">Buttons</h1>
    <div class="row bg-red-250 md:bg-orange-100">
      <button class="btn-blue">Button Small</button>
      <button class="btn-red btn-md">Button Medium</button>
      <button class="btn-yellow btn-lg">Button Large</button>
      <!-- <button class="btn-green">Green</button>
      <button class="btn-black">Black</button>
      <button class="btn-white">White</button>
      <button class="btn-offwhite">Offwhite</button>
      <button class="btn-gray">Gray</button>
      <button class="btn-orange">Orange</button> -->
    </div>
  </div>