.main-container {
  width: 100vw;
  /* height: 100vh; */
}
.drawer {
  width: 20%;
  height: 100vh;
  /* position: absolute; */
  left: 0%;
  top: 0;
  /* transition: all ease-in-out 0.6s; */
}
.drawer-opened {
  left: 0;
}
