<div class="bg-green-500 p-2 container">
  <div class="row">
    <div class="bg-black-900 h-25 col-4 font-Poppins">
      Black 900
    </div>
    <div class="bg-black-750 h-25 col"></div>
    <div class="bg-black-500 h-25 col"></div>
    <div class="bg-black-250 h-25 col"></div>
    <div class="bg-black-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-red-900 h-25 col-4 font-Poppins">
      Red 900
    </div>
    <div class="bg-red-750 h-25 col"></div>
    <div class="bg-red-500 h-25 col"></div>
    <div class="bg-red-250 h-25 col"></div>
    <div class="bg-red-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-yellow-900 h-25 col-4"></div>
    <div class="bg-yellow-750 h-25 col"></div>
    <div class="bg-yellow-500 h-25 col"></div>
    <div class="bg-yellow-250 h-25 col"></div>
    <div class="bg-yellow-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-green-900 h-25 col-4"></div>
    <div class="bg-green-750 h-25 col"></div>
    <div class="bg-green-500 h-25 col"></div>
    <div class="bg-green-250 h-25 col"></div>
    <div class="bg-green-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-orange-900 h-25 col-4"></div>
    <div class="bg-orange-750 h-25 col"></div>
    <div class="bg-orange-500 h-25 col"></div>
    <div class="bg-orange-250 h-25 col"></div>
    <div class="bg-orange-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-gray-900 h-25 col-4"></div>
    <div class="bg-gray-750 h-25 col"></div>
    <div class="bg-gray-500 h-25 col"></div>
    <div class="bg-gray-250 h-25 col"></div>
    <div class="bg-gray-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-offwhite-900 h-25 col-4"></div>
    <div class="bg-offwhite-750 h-25 col"></div>
    <div class="bg-offwhite-500 h-25 col"></div>
    <div class="bg-offwhite-250 h-25 col"></div>
    <div class="bg-offwhite-100 h-25 col"></div>
  </div>
  <div class="row">
    <div class="bg-white-900 h-25 col-4"></div>
  </div>
</div>
<div class="bg-black-750 container p-2">
  <div class="row bg-red-250 md:bg-orange-100">
    <div class="col-3 sm:col-6">
      <button class="btn-blue w-p-100">Blue</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-red w-p-100">Red</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-yellow w-p-100">Yellow</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-green w-p-100">Green</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-black w-p-100">Black</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-white w-p-100">White</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-offwhite w-p-100">Offwhite</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-gray w-p-100">Gray</button>
    </div>
    <div class="col-3 sm:col-6">
      <button class="btn-orange w-p-100">Orange</button>
    </div>
  </div>
</div>