.reset-btn {
  border: 0;
  cursor: pointer;
  outline: none;
  height: fit-content;
}
.btn {
  @extend .reset-btn, .py-3, .px-20, .rounded-sm;
  margin: 0.5em;
  transition: all ease-in-out 0.2s;
}

@each $name, $colors in $colors-w-fg {
  .btn-#{$name} {
    @extend .btn, .bg-#{$name}-900, .shadow-#{$name};
    color: map-get($map: $colors, $key: fg);
  }
}

@each $brk, $width in $breakpoints {
  @if $brk == "sm" {
    .btn-#{$brk} {
      @extend .btn;
    }
  }
  @if $brk == "md" {
    .btn-#{$brk} {
      @extend .btn, .px-21, .py-4, .rounded-#{$brk};
    }
  }
  @if $brk == "lg" {
    .btn-#{$brk} {
      @extend .btn, .px-21, .py-5, .rounded-#{$brk};
    }
  }
}
